<html>
    <style>
        body {
            color: rgb(139, 230, 3);
            background-color: rgba(60, 60, 60);
        }

        ul {
            border: 5px solid rgb(165, 165, 165);
        }
    </style>
    <head>
        <title>Front-end Practice Project</title>
    </head>
    <body>
        <h1>DevOps Mock Email List</h1>
        <ul>
            <li>benji@devops.org</li>
            <li>nor@devops.com</li>
            <li>maria@devops.gov</li>
            <li>marylyn@devops.biz</li>
            <li>deshawn@devops.io</li>
            <li>salvador@devops.net</li>
        </ul>
    </body>
</html>