<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    </head>
    <body>
        <div>
            <p>Hello World! Again</p>
            <p>This html stuff is a little wonky, but interesting.</p>
            <p>Never really thought about giving front-end development a try</p>
            <p>Never too late to give it a shot though I guess!</p>

            <h3>Getting hungry...:</h3>
            <ul>
                <li>Hot pot</li>
                <li>Ramen</li>
                <li>Burgers</li>
            </ul>

            <h2>Maybe I'll watch a movie as I eat?</h2>
            <ol>
                <li>Interstellar</li>
                <li>Arrival</li>
                <li>Coraline</li>
            </ol>

            <a href="https://alta3.com/">This is where I'm learning to use html</a>
        </div>
        
        <!--This is where your additional code goes comment goes-->
        <button onclick="refreshPage()" style="color: white; background-color:grey">See Changes</button>    <!--this button fires the function defined above-->
    </body>
</html>
