<!DOCTYPE html>
<html>
<head>
    <title>Styling Practice</title>
    <style>
        body {
            background-color: rgb(116, 74, 74);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            color: red;
            font-size: 24px;
        }
        li {
            color: blue;
        }
        .list_div {
            border: 2px solid greenyellow;
        }
        #div_with_links {
            background-color: grey;
            color: white;
        }
    </style>
 </head>
<body>
    <h1>Welcome to My Site</h1>
    <div id="links_div">
        <h2>Make me blue.</h2>
        <p>Make me red.</p>
        <a class="link" href="https://www.example.com">Learn More</a>
        <a href="https://alta3.com">Contact Us</a>
    </div>
    <div class="list_div">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</body>
</html>